:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

[class*="main"] {
    width: 100%
}

@media only screen and (min-width: 600px) {
    main {width: 100%;}
}
@media only screen and (min-width: 768px) {
    main {width: 100%;}
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 15px;
  padding: 0px;
  list-style: none;
  grid-template-columns: repeat(7, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/* Top Container */
.top-container {
    grid-column: 2/6
  display: grid;
  grid-gap: 5px;
  min-height: 400px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-left: 15px;
  float: inline-start;
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

.container-b {
    grid-column: 4/6
        display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}

.showcase-b {
  grid-area: showcase;
  min-height: 600px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-b h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-b p {
    font-size: 1.3rem;
    margin-top: 0;
    color:var(--light);
}
.container-c {
    grid-column: 4/6
     display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}
.showcase-c {
  grid-area: showcase;
  min-height: 400px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-c h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-c p {
    font-size: 1.2rem;
    margin-top: 0;
    color:var(--light);
}
.container-d {
    grid-column: 4/6
        display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}
.showcase-d {
  grid-area: showcase;
  min-height: 400px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-d h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-d p {
    font-size: 1.2rem;
    margin-top: 0;
    color:var(--light);
}
.container-e {
    grid-column: 4/6
        display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}

.showcase-e {
  grid-area: showcase;
  min-height: 600px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-e h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-e p {
    font-size: 1.2rem;
    margin-top: 0;
    color:var(--light);
}

.container-f {
    grid-column: 4/6
        display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}

.showcase-f {
  grid-area: showcase;
  min-height: 600px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-f h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-f p {
    font-size: 1.2rem;
    margin-top: 0;
    color:var(--light);
}
.showcase-f p2 {
    height: 400px;
    width: 485px;
    border-style: solid;
    border-width: 10px;
    border-color: #EDD3C4;
    margin-left: 35%;
    margin-top: 10%
}


.container-h {
    grid-column: 4/6
        display: grid;
    grid-gap: 5px;
    min-height: 600px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
    float: inline-start;
}

.showcase-h {
  grid-area: showcase;
  min-height: 600px;
  background: url(epic.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase-h h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase-h p {
    font-size: 1.2rem;
    margin-top: 0;
    color:var(--light);
}
iframe {
    margin: 0 auto;

}


/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.kilder {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.kilde {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

